@model BarberHub.ViewModel.BarberShopViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>BarberShopViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<a asp-action="Edit">EDITAR!</a>

<h2>LISTA DE BARBEIROS</h2><br />
@if(!Model.Barbers.Any())
{
    <a>Não existe nenhum barbeiro vinculado nessa barbearia!</a><br />
} else
{
    foreach(var barbers in Model.Barbers)
    {
        <div class="border border-dark">
            <span>Name: @barbers.Name</span><br />
            <span>Hora de inicio: @barbers.StartWorkTime</span>
            <a asp-controller="Barber" asp-action="Edit" asp-route-id="@barbers.Id">EDITAR</a>
            <a asp-controller="Barber" asp-action="Delete" asp-route-id="@barbers.Id">DELETAR</a>
        </div>
    }
}
<a asp-controller="Barber" asp-action="Create" asp-route-barberShopId="@Model.Id" >Adicionar barbeiro!</a>
